.num1{
    color: crimson;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
.blog{
    width: 30%;
    float: left;
    margin-left: 5%;
}
.blog img{
    width: 100%;
    margin-left: 80%;
}
.num2{
    background-image: url("top-banner.png");
}